// frontend-app-*/src/index.scss
@import "~@edx/brand/paragon/fonts";
@import "~@edx/brand/paragon/variables";
@import "~@openedx/paragon/scss/core/core";
@import "~@edx/brand/paragon/overrides";

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

$input-focus-box-shadow: $input-box-shadow; // hack to get upgrade to paragon 4.0.0 to work

@import "~@edx/frontend-component-footer/dist/_footer";

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.alert.alert-info .alert-icon {
  color: black;
}

#root {
  // Removing a odd 1.5 scaling on checkboxes.:
  input[type=checkbox] {
    transform: none;
  }
  background:#F4F5F7;  
  .top-wrapper {
    display:flex;
    justify-content:start;
    align-items: stretch;
    
  }
  main {
    flex:1 1 auto;
  }

  header {
    min-height: 100vh;
    flex: 0 0 190px;
    background:#27304D;
    .logo-wrap {
      padding:24px 0px;
      text-align:center;
      display:block;
      width:100%;
      
      .logo {
        display:inline-block;
        width:100%;
        max-width:144px;
      }
    }
    
  }

  footer {
    flex: 1 1 100%;
  }
}

#paragon-portal-root {
  .pgn__modal-layer {
    .pgn__modal-close-container {
      right: 1rem !important;
    }
  }
  .confirm-modal .pgn__modal-body {
    overflow: hidden;
  }
}
