.dropdown-menu-collapse {
  width: 100vw;
  position: absolute;
  left: 0;
}

.learner-variant-header {
  a {
    // needed to make the link not resize the header
    border-bottom: 2px solid transparent;
  }
  .course-link {
    border-bottom: 2px solid !important;
  }

  .course-link:hover {
    border-bottom: inherit !important;
  }
}

.nav-small-menu {
  > * {
    justify-content: flex-start !important;

    border-radius: 0 !important;
    border-top: 1px solid #ddd !important;

    &::after {
      content: '\00BB';
      padding-left: 10px;
    }
  }
}
.fe-nav {
  font-size:0.9em;
  color:#fff;
  padding:0px; 
  margin:0px;
  .rc-accordion-toggle { 
    position:relative;
    &.active i {
      transform:rotate(180deg);
    }
  }
  h5 { color:#fff; }
  i.arrow { position:absolute; right:10px; top:8px}

  .rc-collapse { overflow:hidden;}
  * {font-family:"Pretendard", "맑은 고딕"}
  
  > li > a {border-radius: 3px; }
  li {display:block; width:80%; margin:0px auto; padding:2px 0px;}
  ul {display:block; padding:0px 0px 0px 0px; margin:0px; width:100%; height:0px; overflow:none;}
  ul li {padding-left: 10px;}
  a {display:block; color:#fff; font-weight:400; width:100%; padding:8px 12px; border-radius: 3px;}
  a:hover {background:rgba(255, 255, 255, 0.3); color:#fff; text-decoration:none;}
}
.user-dropdown {
  &::after {clear:both; content:""; display:block;}
  border:1px solid #dfdfdf;
  button {
    float:right; 
    background:transparent;
    border:0px; outline:none;
    &:focus {outline:none;}
  }
  
  
}
.btn-light.dropdown-toggle {
  background-color:transparent !important;
}
